<div class="card" style="width: 18rem;">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Image/youefkh.jpg"class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Image/youefkh.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Image/youefkh.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



